# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pem
Peerster
client/client
CA/CA

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/
.directory
_Downloads/

_MyKeys/*
!_MyKeys/CA

*.odt